In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [3]:
movies = pd.read_csv('Movie+Assignment+Data.csv')
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [4]:
# Write your code for inspection here
type((movies.info()))
movies.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

(5043, 28)

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [5]:
# Write your code for column-wise null count here
movies.isnull().sum(axis = 0)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [6]:
# Write your code for row-wise null count here
movies.isnull().sum(axis = 1)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [7]:
# Write your code for column-wise null percentages here
round((movies.isnull().sum()/len(movies))*100 , 2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [8]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies.drop(['color','director_facebook_likes','actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 'country', 'movie_imdb_link', 'aspect_ratio', 'plot_keywords'], axis=1, inplace = True)

In [9]:
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,NaN,7.1,0

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [10]:
# Write your code for dropping the rows here
round((movies.isnull().sum()/len(movies))*100, 2)

# As there are columns with gRoss and budget have null value percentage greater than 5

movies = movies[movies.gross.notnull()]
movies = movies[movies.budget.notnull()]

#checking DataFrame.
movies.info()
round((movies.isnull().sum()/len(movies))*100, 2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 5042
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   director_name           3891 non-null   object
 1   num_critic_for_reviews  3890 non-null   float64
 2   gross                   3891 non-null   float64
 3   genres                  3891 non-null   object
 4   actor_1_name            3888 non-null   object
 5   movie_title             3891 non-null   object
 6   num_voted_users         3891 non-null   int64
 7   num_user_for_reviews    3891 non-null   float64
 8   language                3888 non-null   object
 9   budget                  3891 non-null   float64
 10  title_year              3891 non-null   float64
 11  imdb_score              3891 non-null   float64
 12  movie_facebook_likes    3891 non-null   int64
dtypes: float64(6), int64(2), object(5)
memory usage: 425.6+ KB

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [11]:
# Write your code for dropping the rows here
movies = movies[movies.isnull().sum(axis=1) <= 5]
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 5042
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   director_name           3891 non-null   object
 1   num_critic_for_reviews  3890 non-null   float64
 2   gross                   3891 non-null   float64
 3   genres                  3891 non-null   object
 4   actor_1_name            3888 non-null   object
 5   movie_title             3891 non-null   object
 6   num_voted_users         3891 non-null   int64
 7   num_user_for_reviews    3891 non-null   float64
 8   language                3888 non-null   object
 9   budget                  3891 non-null   float64
 10  title_year              3891 non-null   float64
 11  imdb_score              3891 non-null   float64
 12  movie_facebook_likes    3891 non-null   int64
dtypes: float64(6), int64(2), object(5)
memory usage: 425.6+ KB

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [12]:
# Write your code for filling the NaN values in the 'language' column here
movies.language = movies.language.fillna('English')

movies.language.isnull().sum()

0

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [13]:
# Write your code for checking number of retained rows here
print(len(movies.index))

print((len(movies.index)/5043)*100)

3891
77.15645449137418

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [14]:
# Write your code for unit conversion here
movies.budget = round((movies.budget/100000), 2)
movies.gross = round((movies.gross/100000), 2)
print(movies.budget.head())
print(movies.gross.head())

0    2370.0
1    3000.0
2    2450.0
3    2500.0
5    2637.0
Name: budget, dtype: float64
0    7605.06
1    3094.04
2    2000.74
3    4481.31
5     730.59
Name: gross, dtype: float64

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [15]:
# Write your code for creating the profit column here
movies['profit'] = movies.gross - movies.budget
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7605.06,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.06
1,Gore Verbinski,302.0,3094.04,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3000.0,2007.0,7.1,0,94.04
2,Sam Mendes,602.0,2000.74,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2450.0,2015.0,6.8,85000,-449.26
3,Christopher Nolan,813.0,4481.31,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2500.0,2012.0,8.5,164000,1981.31
5,Andrew Stanton,462.0,730.59,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2637.0,2012.0,6.6,24000,-1906.41

In [16]:
# Write your code for sorting the dataframe here
movies.sort_values(by = 'profit', ascending = False, inplace= True)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7605.06,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.06
29,Colin Trevorrow,644.0,6521.77,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1500.0,2015.0,7.0,150000,5021.77
26,James Cameron,315.0,6586.72,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72
3024,George Lucas,282.0,4609.36,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,110.0,1977.0,8.7,33000,4499.36
3080,Steven Spielberg,215.0,4349.49,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,105.0,1982.0,7.9,34000,4244.49

In [17]:
top10 =  movies.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7605.06,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.06
29,Colin Trevorrow,644.0,6521.77,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1500.0,2015.0,7.0,150000,5021.77
26,James Cameron,315.0,6586.72,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72
3024,George Lucas,282.0,4609.36,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,110.0,1977.0,8.7,33000,4499.36
3080,Steven Spielberg,215.0,4349.49,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,105.0,1982.0,7.9,34000,4244.49
794,Joss Whedon,703.0,6232.80,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2200.0,2012.0,8.1,123000,4032.80
17,Joss Whedon,703.0,6232.80,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2200.0,2012.0,8.1,123000,4032.80
509,Roger Allers,186.0,4227.84,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,450.0,1994.0,8.5,17000,3777.84
240,George Lucas,320.0,4745.45,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1150.0,1999.0,6.5,13000,3595.45
66,Christopher Nolan,645.0,5333.16,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,1850.0,2008.0,9.0,37000,3483.16

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [18]:
# Write your code for dropping duplicate values here


movies.drop_duplicates(inplace = True)

In [19]:
# Write code for repeating subtask 2 here
movies.head(10)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7605.06,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.06
29,Colin Trevorrow,644.0,6521.77,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1500.0,2015.0,7.0,150000,5021.77
26,James Cameron,315.0,6586.72,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72
3024,George Lucas,282.0,4609.36,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,110.0,1977.0,8.7,33000,4499.36
3080,Steven Spielberg,215.0,4349.49,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,105.0,1982.0,7.9,34000,4244.49
794,Joss Whedon,703.0,6232.80,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2200.0,2012.0,8.1,123000,4032.80
509,Roger Allers,186.0,4227.84,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,450.0,1994.0,8.5,17000,3777.84
240,George Lucas,320.0,4745.45,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1150.0,1999.0,6.5,13000,3595.45
66,Christopher Nolan,645.0,5333.16,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,1850.0,2008.0,9.0,37000,3483.16
439,Gary Ross,673.0,4079.99,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games,701607,1959.0,English,780.0,2012.0,7.3,140000,3299.99

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [20]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = movies[movies.num_voted_users> 25000]
IMDb_Top_250 = movies.sort_values(by= 'imdb_score', ascending = False).head(250)
IMDb_Top_250['rank'] = list(range(1,251))
IMDb_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
1937,Frank Darabont,199.0,283.41,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,250.0,1994.0,9.3,108000,33.41,1
3466,Francis Ford Coppola,208.0,1348.22,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,60.0,1972.0,9.2,43000,1288.22,2
66,Christopher Nolan,645.0,5333.16,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,1850.0,2008.0,9.0,37000,3483.16,3
2837,Francis Ford Coppola,149.0,573.00,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,130.0,1974.0,9.0,14000,443.00,4
339,Peter Jackson,328.0,3770.19,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,940.0,2003.0,8.9,16000,2830.19,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Don Hall,384.0,2224.88,Action|Adventure|Animation|Comedy|Drama|Family...,Damon Wayans Jr.,Big Hero 6,279093,433.0,English,1650.0,2014.0,7.9,41000,574.88,246
1713,Edward Zwick,60.0,268.30,Drama|History|War,Denzel Washington,Glory,101888,365.0,English,180.0,1989.0,7.9,0,88.30,247
1813,Philip Kaufman,80.0,215.00,Adventure|Drama|History,Dennis Quaid,The Right Stuff,45271,170.0,English,270.0,1983.0,7.9,0,-55.00,248
1807,John Landis,125.0,542.00,Action|Comedy|Crime|Music,John Belushi,The Blues Brothers,142448,319.0,English,270.0,1980.0,7.9,14000,272.00,249
4499,Anna Muylaert,111.0,3.76,Comedy|Drama,Alex Huszar,The Second Mother,7025,26.0,Portuguese,40.0,2015.0,7.9,0,-36.24,250

In [21]:
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250.language != 'English']
Top_Foreign_Lang_Film

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
4498,Sergio Leone,181.0,61.00,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,12.00,1966.0,8.9,20000,49.00,7
4029,Fernando Meirelles,214.0,75.63,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,33.00,2002.0,8.7,28000,42.63,17
4747,Akira Kurosawa,153.0,2.69,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,20.00,1954.0,8.7,11000,-17.31,19
2373,Hayao Miyazaki,246.0,100.50,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,190.00,2001.0,8.6,28000,-89.50,22
4259,Florian Henckel von Donnersmarck,215.0,112.85,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,20.00,2006.0,8.5,39000,92.85,29
4921,Majid Majidi,46.0,9.25,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,130.0,Persian,1.80,1997.0,8.5,0,7.45,32
3931,Ron Fricke,115.0,26.02,Documentary|Music,Collin Alfredo St. Dic,Samsara,22457,69.0,None,40.00,2011.0,8.5,26000,-13.98,45
4105,Chan-wook Park,305.0,21.81,Drama|Mystery|Thriller,Min-sik Choi,Oldboy,356181,809.0,Korean,30.00,2003.0,8.4,43000,-8.19,49
1298,Jean-Pierre Jeunet,242.0,332.02,Comedy|Romance,Mathieu Kassovitz,Amélie,534262,1314.0,French,770.00,2001.0,8.4,39000,-437.98,55
1329,S.S. Rajamouli,44.0,64.98,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The Beginning,62756,410.0,Telugu,180.26,2015.0,8.4,21000,-115.28,59
2323,Hayao Miyazaki,174.0,22.98,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,24000.00,1997.0,8.4,11000,-23977.02,60
2970,Wolfgang Petersen,96.0,114.33,Adventure|Drama|Thriller|War,Jürgen Prochnow,Das Boot,168203,426.0,German,140.00,1981.0,8.4,11000,-25.67,61
4659,Asghar Farhadi,354.0,70.98,Drama|Mystery,Shahab Hosseini,A Separation,151812,264.0,Persian,5.00,2011.0,8.4,48000,65.98,62
4033,Thomas Vinterberg,349.0,6.11,Drama,Thomas Bo Larsen,The Hunt,170155,249.0,Danish,38.00,2012.0,8.3,60000,-31.89,65
2829,Oliver Hirschbiegel,192.0,55.02,Biography|Drama|History|War,Thomas Kretschmann,Downfall,248354,564.0,German,135.00,2004.0,8.3,14000,-79.98,81
2734,Fritz Lang,260.0,0.26,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,413.0,German,60.00,1927.0,8.3,12000,-59.74,88
4585,Joshua Oppenheimer,248.0,4.84,Biography|Crime|Documentary|History,Anwar Congo,The Act of Killing,23836,107.0,Indonesian,10.00,2012.0,8.2,20000,-5.16,91
3550,Denis Villeneuve,226.0,68.57,Drama|Mystery|War,Lubna Azabal,Incendies,80429,156.0,French,68.00,2010.0,8.2,37000,0.57,96
4000,Juan José Campanella,262.0,201.67,Drama|Mystery|Thriller,Ricardo Darín,The Secret in Their Eyes,131831,231.0,Spanish,20.00,2009.0,8.2,33000,181.67,97
2047,Hayao Miyazaki,212.0,47.10,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving Castle,214091,330.0,Japanese,240.00,2004.0,8.2,13000,-192.90,99
2551,Guillermo del Toro,406.0,376.23,Drama|Fantasy|War,Ivana Baquero,Pan's Labyrinth,467234,1083.0,Spanish,135.00,2006.0,8.2,27000,241.23,107
3553,José Padilha,142.0,0.08,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,107.0,Portuguese,40.00,2007.0,8.1,11000,-39.92,113
2914,Je-kyu Kang,86.0,11.10,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of War,31943,224.0,Korean,128.00,2004.0,8.1,0,-116.90,126
2830,Alejandro Amenábar,157.0,20.86,Biography|Drama|Romance,Belén Rueda,The Sea Inside,64556,140.0,Spanish,100.00,2004.0,8.1,0,-79.14,129
4267,Alejandro G. Iñárritu,157.0,53.84,Drama|Thriller,Adriana Barraza,Amores Perros,173551,361.0,Spanish,20.00,2000.0,8.1,11000,33.84,137
3423,Katsuhiro Ôtomo,150.0,4.39,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,11000.00,1988.0,8.1,0,-10995.61,143
4461,Thomas Vinterberg,98.0,16.48,Drama,Ulrich Thomsen,The Celebration,65951,258.0,Danish,13.00,1998.0,8.1,5000,3.48,144
3344,Karan Johar,210.0,40.19,Adventure|Drama|Thriller,Shah Rukh Khan,My Name Is Khan,69759,235.0,Hindi,120.00,2010.0,8.0,27000,-79.81,165
4284,Ari Folman,231.0,22.83,Animation|Biography|Documentary|Drama|History|War,Ari Folman,Waltz with Bashir,46107,156.0,Hebrew,15.00,2008.0,8.0,0,7.83,192
3456,Vincent Paronnaud,242.0,44.43,Animation|Biography|Drama|War,Catherine Deneuve,Persepolis,70194,158.0,French,73.00,2007.0,8.0,14000,-28.57,193
4144,Walter Salles,71.0,55.95,Drama,Fernanda Montenegro,Central Station,28951,257.0,Portuguese,29.00,1998.0,8.0,0,26.95,202
4897,Sergio Leone,122.0,35.00,Action|Drama|Western,Clint Eastwood,A Fistful of Dollars,147566,235.0,Italian,2.00,1964.0,8.0,0,33.00,209
3677,Christophe Barratier,112.0,36.30,Drama|Music,Jean-Baptiste Maunier,The Chorus,44151,110.0,French,55.00,2004.0,7.9,0,-18.70,216
4640,Cristian Mungiu,233.0,11.86,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days",44763,172.0,Romanian,5.90,2007.0,7.9,14000,5.96,218
4415,Fabián Bielinsky,94.0,12.21,Crime|Drama|Thriller,Ricardo Darín,Nine Queens,38215,125.0,Spanish,15.00,2000.0,7.9,0,-2.79,225
2863,Clint Eastwood,251.0,137.54,Drama|History|War,Yuki Matsuzaki,Letters from Iwo Jima,132149,316.0,Japanese,190.00,2006.0,7.9,5000,-52.46,231
3510,Yash Chopra,29.0,29.22,Drama|Musical|Romance,Shah Rukh Khan,Veer-Zaara,34449,119.0,Hindi,70.00,2004.0,7.9,2000,-40.78,238
3264,Michael Haneke,447.0,2.25,Drama|Romance,Isabelle Huppert,Amour,70382,190.0,French,89.00,2012.0,7.9,33000,-86.75,240
2919,Stéphane Aubier,99.0,0.71,Animation|Comedy|Crime|Drama|Family,Mackenzie Foy,Ernest & Celestine,12029,32.0,French,96.00,2012.0,7.9,0,-95.29,243
4499,Anna Muylaert,111.0,3.76,Comedy|Drama,Alex Huszar,The Second Mother,7025,26.0,Portuguese,40.00,2015.0,7.9,0,-36.24,250

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [22]:
# Write your code for extracting the top 10 directors here
top10director = movies.pivot_table(values = 'imdb_score', index= 'director_name', aggfunc = 'mean')
top10director = top10director.sort_values(by = 'imdb_score', ascending= False).head(10)
top10director

                       imdb_score
director_name
Charles Chaplin          8.600000
Tony Kaye                8.600000
Alfred Hitchcock         8.500000
Ron Fricke               8.500000
Damien Chazelle          8.500000
Majid Majidi             8.500000
Sergio Leone             8.433333
Christopher Nolan        8.425000
S.S. Rajamouli           8.400000
Marius A. Markevicius    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [23]:
# Write your code for extracting the first two genres of each movie here
movies['genre_1'] = movies.genres.apply(lambda x: x.split('|')[0])
movies['genre_2'] = movies.genres.apply(lambda x: x.split('|')[1] if len(x.split('|')) != 1 else x)

movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
0,James Cameron,723.0,7605.06,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.06,Action,Adventure
29,Colin Trevorrow,644.0,6521.77,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1500.0,2015.0,7.0,150000,5021.77,Action,Adventure
26,James Cameron,315.0,6586.72,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72,Drama,Romance
3024,George Lucas,282.0,4609.36,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,110.0,1977.0,8.7,33000,4499.36,Action,Adventure
3080,Steven Spielberg,215.0,4349.49,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,105.0,1982.0,7.9,34000,4244.49,Family,Sci-Fi

In [24]:
movies_by_segment = movies.pivot_table(values= 'gross', index = ['genre_1','genre_2'], aggfunc= 'mean')
movies_by_segment

                          gross
genre_1  genre_2
Action   Action      595.210000
         Adventure  1095.954490
         Animation   926.806250
         Biography   443.555000
         Comedy      530.381603
...                         ...
Romance  Sci-Fi      624.530000
Sci-Fi   Sci-Fi        0.180000
         Thriller    297.938571
Thriller Thriller      0.403333
Western  Western     159.146667

[103 rows x 1 columns]

In [25]:
PopGenre =  movies_by_segment.sort_values(by='gross', ascending= False)
PopGenre = PopGenre.head()
PopGenre

                           gross
genre_1   genre_2
Family    Sci-Fi     4349.490000
Adventure Sci-Fi     2286.278750
          Family     1189.196765
          Animation  1169.985726
Action    Adventure  1095.954490

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [26]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies[movies.actor_1_name == 'Meryl Streep']
Meryl_Streep

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
1408,David Frankel,208.0,1247.33,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,350.0,2006.0,6.8,0,897.33,Comedy,Drama
1575,Sydney Pollack,66.0,871.00,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,310.0,1985.0,7.2,0,561.00,Biography,Drama
1204,Nora Ephron,252.0,941.25,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,400.0,2009.0,7.0,13000,541.25,Biography,Drama
1618,David Frankel,234.0,635.36,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,300.0,2012.0,6.3,0,335.36,Comedy,Drama
410,Nancy Meyers,187.0,1127.03,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,850.0,2009.0,6.6,0,277.03,Comedy,Drama
2781,Phyllida Lloyd,331.0,299.59,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,130.0,2011.0,6.4,18000,169.59,Biography,Drama
1925,Stephen Daldry,174.0,415.98,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,250.0,2002.0,7.6,0,165.98,Drama,Romance
3135,Robert Altman,211.0,203.39,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,100.0,2006.0,6.8,683,103.39,Comedy,Drama
1106,Curtis Hanson,42.0,468.16,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,450.0,1994.0,6.3,0,18.16,Action,Adventure
1674,Carl Franklin,64.0,232.09,Drama,Meryl Streep,One True Thing,9283,112.0,English,300.0,1998.0,7.0,592,-67.91,Drama,Drama
1483,Robert Redford,227.0,149.98,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,350.0,2007.0,6.2,0,-200.02,Drama,Thriller

In [27]:

Leo_Caprio = movies[movies.actor_1_name == 'Leonardo DiCaprio']
Leo_Caprio

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
26,James Cameron,315.0,6586.72,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72,Drama,Romance
97,Christopher Nolan,642.0,2925.69,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,1600.0,2010.0,8.8,175000,1325.69,Action,Adventure
911,Steven Spielberg,194.0,1644.35,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,520.0,2002.0,8.0,15000,1124.35,Biography,Crime
296,Quentin Tarantino,765.0,1628.05,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,1000.0,2012.0,8.5,199000,628.05,Drama,Western
179,Alejandro G. Iñárritu,556.0,1836.36,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,1350.0,2015.0,8.1,190000,486.36,Adventure,Drama
452,Martin Scorsese,490.0,1279.68,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,800.0,2010.0,8.1,53000,479.68,Mystery,Thriller
361,Martin Scorsese,352.0,1323.73,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,900.0,2006.0,8.5,29000,423.73,Crime,Drama
50,Baz Luhrmann,490.0,1448.13,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,1050.0,2013.0,7.3,115000,398.13,Drama,Romance
3476,Baz Luhrmann,490.0,1448.13,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,1050.0,2013.0,7.3,115000,398.13,Drama,Romance
2757,Baz Luhrmann,106.0,463.39,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,145.0,1996.0,6.8,10000,318.39,Drama,Romance
1422,Randall Wallace,83.0,568.76,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,350.0,1998.0,6.4,0,218.76,Action,Adventure
308,Martin Scorsese,606.0,1168.67,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,1000.0,2013.0,8.2,138000,168.67,Biography,Comedy
1453,Clint Eastwood,392.0,373.05,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,350.0,2011.0,6.6,16000,23.05,Biography,Crime
257,Martin Scorsese,267.0,1026.09,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,1100.0,2004.0,7.5,0,-73.91,Biography,Drama
2067,Jerry Zaks,45.0,127.83,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,230.0,1996.0,6.7,1000,-102.17,Drama,Drama
990,Danny Boyle,118.0,397.79,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,500.0,2000.0,6.6,0,-102.21,Adventure,Drama
1114,Sam Mendes,323.0,228.78,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,350.0,2008.0,7.3,0,-121.22,Drama,Romance
1560,Sam Raimi,63.0,186.37,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,320.0,1995.0,6.4,0,-133.63,Action,Thriller
326,Martin Scorsese,233.0,776.80,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,1000.0,2002.0,7.5,0,-223.20,Crime,Drama
641,Ridley Scott,238.0,393.80,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,700.0,2008.0,7.1,0,-306.20,Action,Drama
307,Edward Zwick,166.0,573.66,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,1000.0,2006.0,8.0,14000,-426.34,Adventure,Drama

In [28]:
Brad_Pitt = movies[movies.actor_1_name == 'Brad Pitt']
Brad_Pitt

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
400,Steven Soderbergh,186.0,1834.06,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,850.0,2001.0,7.8,0,984.06,Crime,Thriller
255,Doug Liman,233.0,1863.36,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,1200.0,2005.0,6.5,0,663.36,Action,Comedy
940,Neil Jordan,120.0,1052.65,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,600.0,1994.0,7.6,11000,452.65,Drama,Fantasy
470,David Ayer,406.0,857.07,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,680.0,2014.0,7.6,82000,177.07,Action,Drama
254,Steven Soderbergh,198.0,1255.32,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,1100.0,2004.0,6.4,0,155.32,Crime,Thriller
2204,Alejandro G. Iñárritu,285.0,343.01,Drama,Brad Pitt,Babel,243799,908.0,English,250.0,2006.0,7.5,0,93.01,Drama,Drama
2682,Andrew Dominik,414.0,149.39,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,150.0,2012.0,6.2,20000,-0.61,Crime,Thriller
2898,Tony Scott,122.0,122.82,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,130.0,1993.0,8.0,15000,-7.18,Action,Crime
2333,Angelina Jolie Pitt,131.0,5.31,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,100.0,2015.0,5.3,0,-94.69,Drama,Romance
1490,Terrence Malick,584.0,133.03,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,320.0,2011.0,6.7,39000,-186.97,Drama,Fantasy
101,David Fincher,362.0,1274.91,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,1500.0,2008.0,7.8,23000,-225.09,Drama,Fantasy
683,David Fincher,315.0,370.23,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,630.0,1999.0,8.8,48000,-259.77,Drama,Drama
1722,Andrew Dominik,273.0,39.05,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,300.0,2007.0,7.5,0,-260.95,Biography,Crime
611,Jean-Jacques Annaud,76.0,379.02,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,700.0,1997.0,7.0,0,-320.98,Adventure,Biography
792,Patrick Gilmore,98.0,262.88,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,600.0,2003.0,6.7,880,-337.12,Adventure,Animation
147,Wolfgang Petersen,220.0,1332.28,Adventure,Brad Pitt,Troy,381672,1694.0,English,1750.0,2004.0,7.2,0,-417.72,Adventure,Adventure
382,Tony Scott,142.0,0.27,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,920.0,2001.0,7.0,0,-919.73,Action,Crime

In [29]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep,Leo_Caprio, Brad_Pitt])
Combined

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
1408,David Frankel,208.0,1247.33,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,350.0,2006.0,6.8,0,897.33,Comedy,Drama
1575,Sydney Pollack,66.0,871.00,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,310.0,1985.0,7.2,0,561.00,Biography,Drama
1204,Nora Ephron,252.0,941.25,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,400.0,2009.0,7.0,13000,541.25,Biography,Drama
1618,David Frankel,234.0,635.36,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,300.0,2012.0,6.3,0,335.36,Comedy,Drama
410,Nancy Meyers,187.0,1127.03,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,850.0,2009.0,6.6,0,277.03,Comedy,Drama
2781,Phyllida Lloyd,331.0,299.59,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,130.0,2011.0,6.4,18000,169.59,Biography,Drama
1925,Stephen Daldry,174.0,415.98,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,250.0,2002.0,7.6,0,165.98,Drama,Romance
3135,Robert Altman,211.0,203.39,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,100.0,2006.0,6.8,683,103.39,Comedy,Drama
1106,Curtis Hanson,42.0,468.16,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,450.0,1994.0,6.3,0,18.16,Action,Adventure
1674,Carl Franklin,64.0,232.09,Drama,Meryl Streep,One True Thing,9283,112.0,English,300.0,1998.0,7.0,592,-67.91,Drama,Drama
1483,Robert Redford,227.0,149.98,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,350.0,2007.0,6.2,0,-200.02,Drama,Thriller
26,James Cameron,315.0,6586.72,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72,Drama,Romance
97,Christopher Nolan,642.0,2925.69,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,1600.0,2010.0,8.8,175000,1325.69,Action,Adventure
911,Steven Spielberg,194.0,1644.35,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,520.0,2002.0,8.0,15000,1124.35,Biography,Crime
296,Quentin Tarantino,765.0,1628.05,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,1000.0,2012.0,8.5,199000,628.05,Drama,Western
179,Alejandro G. Iñárritu,556.0,1836.36,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,1350.0,2015.0,8.1,190000,486.36,Adventure,Drama
452,Martin Scorsese,490.0,1279.68,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,800.0,2010.0,8.1,53000,479.68,Mystery,Thriller
361,Martin Scorsese,352.0,1323.73,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,900.0,2006.0,8.5,29000,423.73,Crime,Drama
50,Baz Luhrmann,490.0,1448.13,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,1050.0,2013.0,7.3,115000,398.13,Drama,Romance
3476,Baz Luhrmann,490.0,1448.13,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,1050.0,2013.0,7.3,115000,398.13,Drama,Romance
2757,Baz Luhrmann,106.0,463.39,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,145.0,1996.0,6.8,10000,318.39,Drama,Romance
1422,Randall Wallace,83.0,568.76,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,350.0,1998.0,6.4,0,218.76,Action,Adventure
308,Martin Scorsese,606.0,1168.67,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,1000.0,2013.0,8.2,138000,168.67,Biography,Comedy
1453,Clint Eastwood,392.0,373.05,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,350.0,2011.0,6.6,16000,23.05,Biography,Crime
257,Martin Scorsese,267.0,1026.09,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,1100.0,2004.0,7.5,0,-73.91,Biography,Drama
2067,Jerry Zaks,45.0,127.83,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,230.0,1996.0,6.7,1000,-102.17,Drama,Drama
990,Danny Boyle,118.0,397.79,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,500.0,2000.0,6.6,0,-102.21,Adventure,Drama
1114,Sam Mendes,323.0,228.78,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,350.0,2008.0,7.3,0,-121.22,Drama,Romance
1560,Sam Raimi,63.0,186.37,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,320.0,1995.0,6.4,0,-133.63,Action,Thriller
326,Martin Scorsese,233.0,776.80,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,1000.0,2002.0,7.5,0,-223.20,Crime,Drama
641,Ridley Scott,238.0,393.80,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,700.0,2008.0,7.1,0,-306.20,Action,Drama
307,Edward Zwick,166.0,573.66,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,1000.0,2006.0,8.0,14000,-426.34,Adventure,Drama
400,Steven Soderbergh,186.0,1834.06,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,850.0,2001.0,7.8,0,984.06,Crime,Thriller
255,Doug Liman,233.0,1863.36,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,1200.0,2005.0,6.5,0,663.36,Action,Comedy
940,Neil Jordan,120.0,1052.65,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,600.0,1994.0,7.6,11000,452.65,Drama,Fantasy
470,David Ayer,406.0,857.07,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,680.0,2014.0,7.6,82000,177.07,Action,Drama
254,Steven Soderbergh,198.0,1255.32,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,1100.0,2004.0,6.4,0,155.32,Crime,Thriller
2204,Alejandro G. Iñárritu,285.0,343.01,Drama,Brad Pitt,Babel,243799,908.0,English,250.0,2006.0,7.5,0,93.01,Drama,Drama
2682,Andrew Dominik,414.0,149.39,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,150.0,2012.0,6.2,20000,-0.61,Crime,Thriller
2898,Tony Scott,122.0,122.82,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,130.0,1993.0,8.0,15000,-7.18,Action,Crime
2333,Angelina Jolie Pitt,131.0,5.31,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,100.0,2015.0,5.3,0,-94.69,Drama,Romance
1490,Terrence Malick,584.0,133.03,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,320.0,2011.0,6.7,39000,-186.97,Drama,Fantasy
101,David Fincher,362.0,1274.91,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,1500.0,2008.0,7.8,23000,-225.09,Drama,Fantasy
683,David Fincher,315.0,370.23,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,630.0,1999.0,8.8,48000,-259.77,Drama,Drama
1722,Andrew Dominik,273.0,39.05,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,300.0,2007.0,7.5,0,-260.95,Biography,Crime
611,Jean-Jacques Annaud,76.0,379.02,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,700.0,1997.0,7.0,0,-320.98,Adventure,Biography
792,Patrick Gilmore,98.0,262.88,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,600.0,2003.0,6.7,880,-337.12,Adventure,Animation
147,Wolfgang Petersen,220.0,1332.28,Adventure,Brad Pitt,Troy,381672,1694.0,English,1750.0,2004.0,7.2,0,-417.72,Adventure,Adventure
382,Tony Scott,142.0,0.27,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,920.0,2001.0,7.0,0,-919.73,Action,Crime

In [30]:
# Write your code for grouping the combined dataframe here
Lead_Actor = Combined.groupby('actor_1_name')

In [31]:
# Write the code for finding the mean of critic reviews and audience reviews here
Lead_Actor = Lead_Actor['num_critic_for_reviews','num_user_for_reviews'].mean()
Lead_Actor

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!